<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <style type="text/css">
        body
        {
            padding-top: 60px;
        }
    </style>
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                @Html.Partial("_Menu")
            </div>
        </div>
    </div>
    <section class="container-fluid">
        @if (IsSectionDefined("operations"))
        {
            <div id="operations" class="btn-toolbar">
                @RenderSection("operations")
            </div>
        }
        @if (IsSectionDefined("title"))
        {
            <h1 id="title">
                @RenderSection("title")
            </h1>
            if (IsSectionDefined("subtitle"))
            {
            @RenderSection("subtitle")
            }
            <hr />
        }
        <div id="content">
            @RenderBody()
        </div>
    </section>
    <footer class="container-fluid">
        @Html.Partial("_Footer")
    </footer>
</body>
</html>