@model IEnumerable<WebCA.Security.CertificateKeyManager.SerialListEntry>
@section title {
Certificates
}
@section operations {
    <div class="btn-group">
        <a href="@Url.Action("Create")" class="btn">Create new certificate</a> <a href="@Url.Action("Sign")" class="btn">
            Sign a certificate</a>
    </div>
}
<h3>Certificate Authorities</h3>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Issued at
            </th>
            <th>
                Not before
            </th>
            <th>
                Not after
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var certificate in Model.Where(n => n.IsCertificateAuthority))
        {
            <tr>
                <td>
                    @Html.ActionLink(certificate.SubjectName, "Details", new { id = certificate.SerialNumber.Replace(":", "") })
                </td>
                <td>
                    @certificate.NotBefore
                </td>
                <td>
                    @certificate.NotAfter
                </td>
            </tr>
        }
    </tbody>
</table>
<h3>Other certificates</h3>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Issued at
            </th>
            <th>
                Not before
            </th>
            <th>
                Not after
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var certificate in Model.Where(n => !n.IsCertificateAuthority))
        {
            <tr>
                <td>
                    @Html.ActionLink(certificate.SubjectName, "Details", new { id = certificate.SerialNumber.Replace(":", "") })
                </td>
                <td>
                    @certificate.NotBefore
                </td>
                <td>
                    @certificate.NotAfter
                </td>
            </tr>
        }
    </tbody>
</table>