@model WebCA.Frontend.Forms.SignCertificateForm
@section title {
Sign a certificate
}
@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(model => model.IssuerSerial)
        @Html.ValidationMessageFor(model => model.IssuerSerial)
        @Html.DropDownListFor(model => model.IssuerSerial, ((IEnumerable<WebCA.Security.CertificateKeyManager.SerialListEntry>)ViewBag.CACerts).Select(option => new SelectListItem
          {
              Text = (option == null ? "None" : option.SubjectName),
              Value = option.SerialNumber.Replace(":", ""),
              Selected = (Model != null) && (option.SerialNumber == Model.IssuerSerial)
          }), "Choose...")
    </div>
    <div>
        @Html.LabelFor(model => model.SubjectSerial)
        @Html.ValidationMessageFor(model => model.SubjectSerial)
        @Html.DropDownListFor(model => model.SubjectSerial, ((IEnumerable<WebCA.Security.CertificateKeyManager.SerialListEntry>)ViewBag.Certs).Select(option => new SelectListItem
          {
              Text = (option == null ? "None" : option.SubjectName),
              Value = option.SerialNumber.Replace(":", ""),
              Selected = (Model != null) && (option.SerialNumber == Model.SubjectSerial)
          }), "Choose...")
    </div>

    <div>
        @Html.LabelFor(model => model.IssuerPrivateKeyPassword)
        @Html.ValidationMessageFor(model => model.IssuerPrivateKeyPassword)
        @Html.PasswordFor(model => model.IssuerPrivateKeyPassword)
    </div>
    <div>
        <input type="submit" class="btn btn-danger" />
    </div>
}